Source: libnginx-mod-http-zstd
Section: httpd
Priority: optional
Maintainer: No Maintainer <maintainer@example.com>
Build-Depends: debhelper (>= 9~),
               dpkg-dev (>= 1.16.1~),
               quilt (>= 0.46-7~),
               lsb-release,
               libssl-dev (>= 0.9.7),
               libpcre2-dev,
               zlib1g-dev
Standards-Version: 3.9.8.0
Homepage: https://github.com/tokers/zstd-nginx-module

Package: libnginx-mod-http-zstd
Architecture: amd64 i386
Depends: ${misc:Depends}, ${shlibs:Depends}, nginx (= {NGINX_VERSION})
Description: Nginx modules for the Zstandard compression
