#!/usr/bin/make -f

package = libnginx-mod-http-zstd

%:
	dh $@

clean:
	dh_testdir
	dh_testroot
	dh_clean
	rm -f $(CURDIR)/objs

override_dh_auto_configure:
	./configure --add-dynamic-module=../ngx_http_zstd_module --with-compat

override_dh_auto_build:
	make modules

override_dh_auto_install:
